body {
  background-image: url(/img/background-image.jpg);
}

h1 {
  animation: wobble 3s ease 0s infinite normal forwards;  
  background-color: hotpink;
  color: yellow;
  font-family: 'Cabin Sketch', cursive;
  font-size: 200px;
  margin: 10% auto;
  padding:20px;
  text-align: center;
  width:850px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes wobble {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}
	15% {
		transform: translateX(-30px) rotate(-6deg);
	}
	30% {
		transform: translateX(15px) rotate(6deg);
	}
	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}
	60% {
		transform: translateX(9px) rotate(2.4deg);
	}
	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

#play-game a{
  background-color:yellow;
  border: 6px solid orange;
  border-radius: 8px;
  color: blueviolet;
  font-family: 'Rampart One', cursive;
  font-size: 50px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 350px;
  padding: 20px;
  margin: auto;
  /* position: fixed; */
}
