body{
  background-image: url(/img/retro\ video\ game.jpg);
  background-size: cover;
  
}

h1{
  font-family: 'Press Start 2P', cursive;
  margin-top: 40px;
  color:#351550;
  text-shadow: 5px 5px #951CD8;
  text-align: center;
  font-size: 50px;
  overflow:hidden;
}


.vhs{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.vhs img{
  border: solid rgb(74, 224, 247) 4px;
  border-radius: 15px 15px 15px 15px;
}

#hint{
  margin-top: 50px;
}

p a{
  display: flex;
  justify-content: center;
  color: #FEDB79;
  font-family:'Press Start 2P', cursive;
  font-size: 12px;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 20px;
}

#current-question{
  margin: auto;
  color:#fdf1f1;
  font-weight: 800;
  /* border: solid #5b2079; */
  border-width: 30px;
  background: linear-gradient(#55177C,#241438);

}

#resultsOfAnswer{
  text-align: center;
  margin-top: 50px;
  font-weight: 700;
  margin-bottom: -15px;
  border-width: 5px;
  color:#fdf1f1;
}

#home-page a {
  text-decoration: none;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

label,
input,
textarea {
  display: block;
  width: 100%;
  margin-top: 20px;
}

label {
  margin: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

input,
textarea {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fdf1f1;
}

textarea {
  height: 50px;
}

button {
  font-family: 'Press Start 2P', cursive;
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  border: solid #46f9ff 1px;
  border-radius: 5px;
  background-color:#655DAA;
  color: #f8f4ef;
  font-size: 18px;
  font-weight: bold;
}

button:hover {
  
  background-color:#FEDB79 ;
  font-family: 'Press Start 2P', cursive;
  color: #351550;
  border: solid #f8f4ef 3px;
}

h3 {
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-size: 20px;
}
